<launch>

    <!-- This section launches the rosserial arduino node -->
    <node   name="arduino_rosserial_node"      pkg="rosserial_arduino"     type="serial_node.py"    output="screen">
        <param  name="port"             type="string"               value="/dev/ttyUSB1"/>
        <param  name="baud"             type="int"                  value="57600"/>
    </node>

    <!-- This section launches the rplidar node -->
    <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
        <param name="serial_baudrate"     type="int"    value="115200"/>
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
    </node>

    <node name="RRRR_teleop_publisher"   pkg="soltrex_poc_ros"   type = "RRRR_teleop_control_N1.py"   output="screen">
    </node>

</launch>